body{
    padding: 0;
    margin: 0;
}
#opening-portion
{
    background-color:black;
    text-align: center;
    padding: 30px;
    margin: 20px;
    border-radius: 10px;
}

#change-color1{
    color: red;

}
#change-color2{
    color: chartreuse;
    
}

#change-color3{
    color:royalblue;
    
}
#change-color4{
    color: rgb(0, 255, 255);
    
}

.additional-portion{
    text-align: center;
}
#colourfull-font1{
    color: rgb(0, 0, 139);
    font-weight: 600;

}
#colourfull-font2{
    color:rgb(63, 32, 92);
    font-weight: 600;
    
}
#colourfull-font3{
    color:rgb(0, 100, 0);
    font-weight: 600;
    
}
#additional-text{
    padding: 20px;
    margin: 10px;
}
#section-font{
    color: rgb(255, 69, 0);
}
.section-font-arranging{
    padding: 20px;
    margin: 10px;
    text-align: justify;
}
.giving-flexiable{
    display: flex;
    margin: 100px;
    padding: 15px;
}
.link-modification{
    color: black;
    text-decoration: none;
    background-image: linear-gradient(green,rgb(253, 253, 253),rgb(243, 12, 12));
    border-radius: 10px;
    padding: 10px 25px;
}
#adding-background{
    background-image: url(Frame\ 59.jpg);
}
#centre-text1{
    text-align:center;
    padding: 10px;
}
#centre-text2{
    text-align: center;
    margin-left: 50px;
    margin-right: 50px;
}
.box-shadow-part{
    box-shadow: 2px 2px 25px rgba(212, 202, 202, 0.897);
    margin: 50px;
    border-radius: 10px;
}
.box-section-pic{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 5px;
}
.box-text-format{
    padding: 10px;

}
#giving-boxing-part{
    display: flex;
    padding: 2px;
    margin-left: 20px;
    margin-right: 20px;
    margin: 50px;
    box-shadow: 5px 5px 30px rgba(49, 71, 24, 0.397);
    border-radius: 15px;
}

.arrange-boxing-part{
    padding: 20px;
   margin-left: 120px;
   margin-right: 120px;
}
footer{
    background-color: rgb(8, 139, 8);
    text-align: center;
    padding: 30px;
    margin: 2px;
}
#footer-part{
    color: red;
}
