#opening-portion
{
    background-color:red;
    text-align: center;
    margin: 20px;
}
.starting{
    display: flex;
    margin: 100px;
}
#centre-text{
    text-align: center;
}
.box-shadow-part{
    text-align: justify;
    box-shadow: 5px 2px 5px black;
    margin: 50px;
    border-radius: 10px;
}
#second-opening{
    margin: 100px;
}
#flexible{
    display: flex;
    box-shadow: 1px 3px 8px black;
    margin: 100px;
    border-radius: 10px;
    
}
.arrange{
    margin-left: 180px;
}
.im-part{
    text-align: center;
    padding-top: 20px;
}